/* =========================
   TÍTULO
   ========================= */

.titulo {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}


/* =========================
   MODELO
   ========================= */

.modelo {
    -fx-font-size: 13px;
}


/* =========================
   ÁREA DO CHAT
   ========================= */

.text-area {
    -fx-font-size: 14px;
}


/* =========================
   CAMPO DE MENSAGEM
   ========================= */

.text-field {
    -fx-font-size: 14px;
}


/* =========================
   BOTÃO
   ========================= */

.button {
    -fx-font-size: 14px;
    -fx-cursor: hand;
}